<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
  <img src="{{dogpark.image}}" alt="">
  <small>View Larger</small>
</a>
  <h3>{{dogpark.title}}</h3>
  <div class="detail type">
    <span>Type:</span> {{dogpark-type dogpark.type}} - {{dogpark.type}}
  </div>
  <div class="detail location">
    <span>Location:</span>{{dogpark.city}}
  </div>
</article>
